{%block body%}
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Buy&Sell
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="//github.io/jo_geek" target="_blank">Github</a>
    <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
    {% if user.is_authenticated %}
    <a href="{%url 'logout'%}" >Logout</a>
    {%else%}
    <a href="{%url 'registerform'%}"  >Register</a>
    <a href="{%url 'loginform' %}" >Login</a>
    {%endif %}
  </div>
</div>

<div class="container">
  <a href="{%url 'searchbooks'%}"><button class="follow-button">Search Books</button></a>
  <button class="subscribe-button">Sell Books</button>
</div>
{%endblock body%}
{%block style%}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  button {
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 18px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.25s;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
  }
  
  button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
    transition: 0.25s;
  }
  
  .follow-button {
    background-color: rgb(20, 20, 20);
    color: white;
  }
  
  .subscribe-button {
    background-color: white;
    color: rgb(20, 20, 20);
  }
  








  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
</style>
{%endblock style%}


{%block script%}
<script>


  
</script>
{%endblock script%}